name: Process Images

on:
  push:
    paths:
      - '_originals/**'

jobs:
  process_images:
    runs-on: ubuntu-latest

    steps:
      - name: Check Out Repository
        uses: actions/checkout@v3

      - name: Set Up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Install Dependencies
        run: npm install sharp exiftool

      - name: Process Images
        run: ./scripts/process_images.sh
